body {
  margin: 0;
  min-width: 1200px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: rgb(70, 70, 70);
  line-height: 30px;
  background-color: #ffffff;
}
img{
  max-width:100%;
  height:auto;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
  url("../fonts/gilroyextrabold.woff") format("woff"),
  url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroylight.woff) format("woff"),
  url(../fonts/gilroylight.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff) format("woff"),
  url(../fonts/opensans.woff2) format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensanslight.woff) format("woff"),
  url(../fonts/opensanslight.woff2) format("woff2");
  font-style: normal;
  font-weight: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.visually-hidden-left{
  margin-left:-100px;
}
a {
  text-decoration: none;
}
.container{
  width: 1160px;
  margin: auto;
  padding: 0;
}
.container-padding{
  padding: 0 20px;
}
.main-header {
  color: #000000;
  background-color: #f7e296;
  position: relative;
  padding: 36px 60px 49px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header{
  margin-top: 40px;
}

.header-logo{
  position: absolute;
  top: -20px;
}
.header-logo[href]{
  top: -17px;
  left: 59px;
}
.main-logo{
  display: block;
}
.main-logo[href]:hover {
  opacity: 0.6;
}

.main-logo[href]:active {
  opacity: 0.3;
}
.main-search p{
  position: relative;
  padding: 0;
  padding-left: 25px;
  margin: 0;
  font-size: 0;
}
.main-search p::before{
  content: "";
  position: absolute;
  top: 14px;
  left: 3px;
  height: 20px;
  width: 20px;
  background: url("../img/header-search.svg") no-repeat 0 0;
}
.main-search label{
  font-size: 16px;
}
.search-text{
  padding: 13px;
  border: none;
  text-align: left;
  color: #000000;
  opacity: 0.3;
  font-size: 16px;
  letter-spacing: -0.017em;
  background-color: #f7e296;
}

.user-search-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-search:hover input[type="text"] {
  opacity: 0.6;
}

.search-text:focus {
  border-bottom: 2px solid #000000;
  padding-bottom: 11px;
  color: #000000;
  opacity: 1;
}

.search-text:valid {
  color: #000000;
  opacity: 1;
}

.search-text:focus+ button {
  display: inline-block;
  vertical-align: top;
}

.search-button {
  display: none;
  padding: 11px 13px 11px 13px;
  border: 2px solid #000000;
  text-align: center;
  background: none;
  font-size: 16px;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}
.user-block-wrapper{
  width: 504px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user-navigation,
.user-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.user-buy li:not(:last-child){
  margin-right: 35px;
}
.user-navigation a,
.user-buy a{
  position: relative;
  padding-left: 30px;
  display: block;
}
.user-navigation a {
  padding-left: 33px;
}
.user-navigation a::before,
.user-buy a::before{
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  height: 20px;
  width: 20px;
}
.user-navigation a::before{
  left: 4px;
}
.login-link a::before{
  background: url("../img/header-user.svg") no-repeat 0 0;
}
.user-buy-compare a::before{
  background: url("../img/header-compare.svg") no-repeat 0 0;
}
.user-buy-basket a::before{
  background: url("../img/header-cart.svg") no-repeat 0 0;

}
.user-navigation a,
.user-buy a {
  color: #000000;
}

.user-navigation a:hover,
.user-buy a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.user-navigation a:hover::before,
.user-buy a:hover::before{
  opacity: 0.6;
}

.user-navigation a:focus,
.user-buy a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.user-navigation a:focus::before,
.user-buy a:focus::before{
  opacity: 0.3;
}
/*menu*/
.main-menu{
  margin-top: 32px;
}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 24px;
}
.site-navigation li{
  padding:0;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-item-wrap {
  position: absolute;
  left: 0;
  min-height: 134px;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 25px;
  width: 1100px;
  z-index: 999;
  display: none;
  background-color: #f7e296;
}
.navigation-link:hover+.catalog-item-wrap,
.navigation-link:focus+.catalog-item-wrap{
  display: block;
}
.site-navigation-catalog:hover .catalog-item-wrap{
  display: block;
}
.main-links{
  display: block;
}
.navigation-link{
  padding-right: 30px;
  position: relative;
  max-width: 256px;
}
.site-navigation-contacts,
.site-navigation-warranty,
.site-navigation-delivery{
  max-width: 140px;
}
.navigation-link::after,
.navigation-link::before{
  position: absolute;
  top: 3px;
  right: 10px;
  content: "";
  width: 2px;
  height: 17px;
  background-color: rgba(0,0,0,0.3);
}

.navigation-link::before{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu ul {
  list-style: none;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: normal;
  color: rgb(0, 0, 0);
  line-height: 36px;
  text-align: left;
  text-transform: none;
  font-weight: normal;
}
.catalog-list ul{
  margin: 0;
  padding: 0;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.catalog-item-clock{
  margin-left: 55px;
}
.catalog-item-fly{
  margin-left: 75px;
}
.site-navigation-catalog{
  min-width: 250px;
  padding-right: 30px;
}
.site-navigation-delivery{
  margin-left: auto;
}
.site-navigation-warranty{
  margin-left: 35px;
}
.site-navigation-contacts{
  margin-left: 107px;
  margin-right: -3px;
}
.catalog-photo-list,
.catalog-clock-list,
.catalog-fly-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.button-wrap{
  position: absolute;
  z-index: 99;
  top: 318px;
  right: 80px;
}
.promo-slider button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 17px;
  padding: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: none;
}
.promo-slider button:hover::before,
.promo-slider button.active::before,
.promo-slider button:focus::before{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1px solid #000000;
  height: 5px;
  width: 5px;
  padding: 0;
  border-radius: 50%;
}

.promo-slider {
  position: relative;
  min-height: 540px;
  padding: 0;
  background-image: -webkit-linear-gradient(top, #f7e296 0%,
  #f7e296 115px, #ffffff 115px, #ffffff 100%);
  background-image: -o-linear-gradient(top, #f7e296 0%,
  #f7e296 115px, #ffffff 115px, #ffffff 100%);
  background-image: linear-gradient(to bottom, #f7e296 0%,
  #f7e296 115px, #ffffff 115px, #ffffff 100%);
  color: #000000;
  counter-reset: slideNumber;
}
.promo-slide::before{
  content:'';
  position: absolute;
  font-size: 180px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  text-align: right;
  right: 46px;
  top: -10px;
  z-index: -1;
}
.promo-slide1::before {
  content: '01';
}
.promo-slide2::before {
  content: '02';
}
.promo-slide3::before {
  content: '03';
}
.promo-slide::after{
  right: 460px;
  top: 39px;
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  z-index: -1;
}
.promo-slide{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}

.promo-slide2 img{
  margin-top: 15px;
  margin-left: 15px;
}
.promo-slide3 img{
  margin-top: 68px;
  margin-left: 26px;
}
.promo-slide-img{
  margin-top: 4px;
}
.promo-img-wrap{
  width: 560px;
  text-align: center;
}
.slide-img-monopod{
  width: 384px;
  height: 486px;
}
.slide-img-bracelet{
  width: 345px;
  height: 485px;
}
.slide-img-quadcopter{
  width: 526px;
  height: 334px;
}
.promo-slider .lead {
  padding: 0;
  font-size: 47px;
  margin-bottom:20px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0.012em;
  text-align: left;
}
.slider-wrapper{
  width: 550px;
  padding: 35px 10px 0 40px;
}
.slider-wrapper p:not(.lead){
  margin-bottom: 42px;
  width: 480px;
  letter-spacing: 0.01em;
}
.link-button {
  position: relative;
  border: none;
  display: inline-block;
  padding: 9px 5px;
  vertical-align: middle;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 3px;
  font-size: 19px;
  font-weight: bold;
  line-height:24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background: none;
  z-index: 999;
}
.promo-slider .link-button{
  margin-left: 38px;
}
.promo-slider .link-button::before{
  margin-left: -75%;
  width: 150%;
}
.link-button::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -55%;
  z-index: -1;
  width: 110%;
  height: 7px;
  background-color: #f0c52e;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link-button:hover::before{
  height:40px;
  top:0;
}

.link-button:focus,
.link-button:active {
  color: rgba(0, 0, 0, 0.5);
}
.item-description{
  margin-top: 42px;
}
.item-description td{
  padding-right: 75px;
  padding-top: 4px;
}
.item-description tr {
  font-size: 36px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: normal;
  color: rgb(0, 0, 0);
  line-height: 48px;
  text-align: left;
}

.item-description tr:last-child {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: rgb(70, 70, 70);
  line-height: 20px;
  text-align: left;
}

.product{
  margin-top: 55px;
}
.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-item div{
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}
.product-item img{
  margin: auto;
}
.product-item .product-monopod{
  margin: 2px auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.product-item .product-clock {
  margin-left: 55px;
}
.product-item .product-camera{
  margin-left:49px;
}
.product-item .product-bracelet {
  margin-left: 28px;
  margin-top: 50px;
}
.product-item .product-quadrocopter {
  margin-top:50px;
}
.product-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.product-list li{
  width: 160px;
}
.product-item h3 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-top: 33px;
  margin-bottom: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.010em;
}

.product-item:active h3,
.product-item:active img {
  opacity: 0.3;
}

.product-item div {
  background-color: #f7e296;
}

.product-item:hover div,
.product-item:focus div {
  background-color: #f0c52e;
}

.product-item:active div {
  background-color: #f0c52e;
}

.service {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service-wrap{
  background-image: -webkit-linear-gradient(top,
  transparent 0%, transparent 100px, #e5e5e5 100px);
  background-image: -o-linear-gradient(top,
  transparent 0%, transparent 100px, #e5e5e5 100px);
  background-image: linear-gradient(to bottom,
  transparent 0%, transparent 100px, #e5e5e5 100px);
}
.service-item{
  margin: 12px 0;
  height: 40px;
  min-width: 160px;
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
  letter-spacing: 4px;
}

.service .service-item:active,
.service .service-item:focus,
.service-active {
  color: rgb(247, 225, 132);
}
.service-check .link-button::before{
  width:160px;
  margin-left: -50%;
}
.service-check .link-button:active::before,
.service-check .link-button:focus::before,
.link-button.service-active:before{
  background-color: #000000;
  width: 280px;
  height: 40px;
  top: 0;
}

.service h3 {
  margin: 0;
  font-size: 47px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: left;
}

.service p{
  margin: 32px 0;
  width: 450px;
  letter-spacing: 0.016em;
}
.service-check {
  border-right: 7px solid #000000;
  width: 278px;
  padding-top: 9px;
  margin-bottom: 67px;
  min-height: 312px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.service section {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 117px;
  padding-top: 73px;
  background-position: 675px 85px;
  background-repeat: no-repeat;
}

.service-delivery {
  background-image: url("../img/service-delivery.svg");
}

.service-warranty {
  background-image: url("../img/service-warranty.svg");
}

.service-credit {
  background-image: url("../img/service-credit.svg");
}

.contacts-wrapper{
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 85px;
  margin-bottom: 8px;
}
.margin-container{
  margin-top: 100px;
}
.logo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about-us,.contacts{
  position: relative;
  width: 600px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.about-us::before,
.contacts::before{
  left: 0;
  top: 0;
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  z-index:-1;
}
.contacts::before{
  left: 20px;
}

.contacts{
  padding-left: 20px;
}
.contacts .link-button{
  margin-left: 35px;
}
.contacts .link-button::before{
  margin-left: -67%;
  width: 134%;
}
.margin-logotype{
  margin-top:94px;
}
.logotype{
  padding:0;
}
.logotype a {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray;
}

.logotype a:hover {
  opacity: 1;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.logotype a:focus {
  opacity: 1;
}

.about-us h2,
.contacts h2 {
  margin: 51px 0 44px -2px;
  font-size: 47px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  line-height: 48px;
  text-align: left;
  letter-spacing: 0.015em;
}
.map-wrap{
  margin-bottom: 60px;
}
.map-wrap a{
  display: block;
}
.about-us p, .contacts p{
  margin-bottom: 40px;
  letter-spacing: 0.005em;
}
.about-us p{
  width: 475px;
  margin-bottom: 30px;
  letter-spacing: 0;
}


.contacts p{
  width: 530px;
}
.logistic-list {
  margin-top: 70px;
  margin-bottom: 60px;
  padding-left: 35px;
  font-size: 17px;
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 30px;
  font-weight: bold;
  color: #e5e5e5;
  text-align: left;
  list-style-type: circle;
}
.logistic-list li{
  margin: 11px 0;
}
.logistic-list span {
  color: #000000;
}
.about-us .link-button{
  margin-left: 17px;
}
.about-us .link-button::before{
  margin-left: -58%;
  width: 114%;
}
/*footer*/
.footer-wrap{
  color: #ffffff;
  background-color: #464646;
}
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  padding: 65px 10px 10px 10px;
}

.main-footer ul {
  list-style: none;
}
.footer-left{
  position: relative;
  width: 280px;
  padding-bottom: 80px;
}
.footer-left::after{
  content: "";
  position: absolute;
  bottom: 71px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #f0c52e;
}
.footer-right-wrap{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.footer-user-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.footer-bottom-wrap{
  min-height: 130px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}
.footer-right{
  width: 280px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.user-navigation .login-exit{
  margin-left: -10px;
}
.footer-right span{
  line-height: 20px;
  letter-spacing: 0.02em;
}
.footer-center{
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-htmlacademy{
  height: 40px;
  width: 30px;
  margin-bottom: 2px;
  margin-right: -3px;
}
.footer-htmlacademy:hover{
  opacity:0.6;
}
.footer-htmlacademy:focus{
  opacity:0.3;
}
.footer-menu{
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.20em;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 24px;
}
.footer-adress{
  margin-top: 20px;
}

.footer-user-navigation a,
.footer-user-buy a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-user-navigation{
  margin-right: 34px;
}
.footer-user-navigation a:hover,
.footer-user-buy a:hover {
  color: rgb(255, 255, 255);
}

.footer-user-navigation a:focus,
.footer-user-buy a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-menu a {
  color: rgb(255, 255, 255);
}

.footer-menu a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  text-align: center;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-center {
  text-align: center;
}

.footer-tel {
  color: #ffffff;
}
.user-image::before{
  display: none;
}

.user-image:hover svg{
  opacity: 0.6;
}

.user-image:focus svg {
  opacity: 0.3;
}

.user-image svg{
  position: absolute;
  top: 6px;
  left: 9px;
  height: 15px;
}

.social-btn{
  padding: 0 10px;
}
.social-btn a{
  display: block;
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.3;
}
.footer-user-wrap path,
.footer-user-wrap rect {
  fill: #f0c52e;
}
.footer-right path{
  fill: #f0c52e;
}

.social-btn a:hover{
  opacity: 0.6;
}
.social-btn a:focus{
  opacity: 0.1;
}
.social-btn-inst a{
  background-image: url("../img/footer-inst.svg");
}
.social-btn-tw a{
  background-image: url("../img/footer-tw.svg");
}
.social-btn-fb a{
  background-image: url("../img/footer-fb.svg");
}
.close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f0c52e;
  opacity: 0.5;
  border: none;
}
.close-popup::before,
.close-popup::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  top: 28px;
  left: 10px;
}
.close-popup::before{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-popup::after{
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-popup:hover {
  opacity: 1;
}

.close-popup:active {
  opacity: 0.3;
  background-color: #faedc0;
}
.write-popup-feedback{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.write-popup-feedback label {
  margin-bottom: 15px;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}
.write-popup-feedback div{
  margin-bottom: 40px;
}
.map-popup,
.write-popup{
  position: fixed;
  left: 50%;
  top: 40px;
  margin-left: -480px;
  width: 960px;
  z-index: 999;
  background-color: #ffffff;
  -webkit-box-shadow: inset 3px 3px 7px 0 rgba(0,0,0,0.35),
  0 10px 20px 0 rgba(0,0,0,0.2);
  box-shadow: inset 3px 3px 7px 0 rgba(0,0,0,0.35),
  0 10px 20px 0 rgba(0,0,0,0.2);
}
.map-popup iframe{
  border:none;
}
.popup-half{
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.popup-text{
  width: 100%;
}
.map-popup-map{
  padding: 0;
  margin: 0;
}
.write-popup{
  padding: 100px 100px 85px 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.map-popup{
  height: 559px;
  background-image: url("../img/popup-map.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #e7e3e3;
}
.write-popup-feedback input[type="text"],
.write-popup-feedback input[type="email"],
.write-popup-feedback textarea {
  padding: 2px 20px;
  width: 310px;
  height: 46px;
  background-color: #f2f2f2;
  border: none;
}

.write-popup-feedback input[type="text"]:hover,
.write-popup-feedback input[type="email"]:hover,
.write-popup-feedback textarea:hover {
  background-color: #eaeaea;
  border: none;

}

.write-popup-feedback input[type="text"]:focus,
.write-popup-feedback input[type="email"]:focus,
.write-popup-feedback textarea:focus {
  background-color: #ffffff;
  border: 2px solid #f7e296;
  padding: 0 18px;
}

.write-popup-feedback input[type="email"]:invalid {
  background-color: #f6dada;
}

.write-popup-feedback textarea {
  width: 100%;
  height: 156px;
}
.catalog-main{
  margin-top: 39px;
}

.catalog-main h1 {
  margin:0 60px 19px 60px;
  font-size: 47px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  word-spacing: 3px;
  line-height: 48px;
  letter-spacing: 0.005em;
}

.page-navigation {
  margin-left: 60px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  letter-spacing: -0.03em;
}

.page-navigation a,
.page-navigation li:last-child {
  color: rgba(0, 0, 0, 0.3);
}

.page-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page-navigation a:focus {
  color: rgba(0, 0, 0, 0.1);
}

.page-navigation li{
  position: relative;
}

.page-navigation li:not(:first-child){
  margin-left: 38px;
}

.page-navigation li:not(:first-child)::before{
  content: "";
  position: absolute;
  -webkit-box-shadow: 1px 1px 0 0 #000000;
  box-shadow: 1px 1px 0 0 #000000;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 14px;
  left: -25px;
}

.catalog-wrapper{
  position: relative;
  margin-top: 45px;
  z-index: 1;
  background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee calc(((100% - 1200px)/2) + 348px),
  #ffffff calc(((100% - 1200px)/2) + 348px), #ffffff 100%);
  background-image: -o-linear-gradient(left, #eeeeee 0%, #eeeeee calc(((100% - 1200px)/2) + 348px),
  #ffffff calc(((100% - 1200px)/2) + 348px), #ffffff 100%);
  background-image: linear-gradient(to right, #eeeeee 0%, #eeeeee calc(((100% - 1200px)/2) + 348px),
  #ffffff calc(((100% - 1200px)/2) + 348px), #ffffff 100%);
}
.catalog-wrapper::before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(0,0,0,0.08);
}
.catalog-item .link-button::before{
  margin-left: -65%;
  width: 130%;
}
.filter-catalog-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.filter-box{
  margin: 0 60px;
}
.filter-label-wrap h2{
  width: 200px;
  padding-top: 21px ;
  margin: 0;
  padding-bottom: 23px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25em;
  color: #000000;
  text-transform: uppercase;
}
.filter{
  margin: 70px 0;
}
.filter fieldset{
  padding: 10px 0 30px 0;
}

.filter-label {
  width: 100%;
  padding: 18px 0 14px;
  color: #000000;
}

.sort{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  padding-bottom: 21px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sort-filter{
  display: inline-block;
  vertical-align: middle;
}

.filter-label h2,
.sort h3 {
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24em;
  color: #000000;
  text-transform: uppercase;
}
.sort h3{
  margin-right: 50px;
}

.scale{
  margin-bottom: 6px;
  height: 2px;
  background-color: #dbdbdb;
}
.scale .bar{
  position: relative;
  height: 2px;
  width: 60%;
  background-color: #91c92f;
}
.scale button{
  position: absolute;
  top: -9px;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: -webkit-radial-gradient(white, #ababab 0%, #ababab 20%, white 20%);
  background-image: -o-radial-gradient(white, #ababab 0%, #ababab 20%, white 20%);
  background-image: radial-gradient(white, #ababab 0%, #ababab 20%, white 20%);
  -webkit-box-shadow: 0 2px 2px 0 #dadada;
  box-shadow: 0 2px 2px 0 #dadada;

}
.scale button.max-case{
  left: 100%;
}
.price-value{
  color: #ababab;
  font-size: 13px;
  text-transform: lowercase;
}
.scale button:active{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.min-value,
.max-value{
  position: relative;
  padding-left: 5px;
  width: 66px;
  background: none;
  border: none;
  color: #ababab;
}
.min-value::before,
.max-value::before{
  content: "";
  position: absolute;
  background-color: #ababab;
}
.filter-color label{
  position: relative;
  display: block;
  padding-left: 37px;
  padding-bottom: 23px;
  padding-top: 0;
  margin-top: -13px;
  letter-spacing: -0.02em;
}
.filter-color label:last-child{
  padding-bottom: 0;
  margin-bottom: 7px;
}
.filter-color label::before{
  content: "";
  left: -6px;
  top: 3px;
  position: absolute;
  width: 28px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.filter-color input:checked+label::before{
  left: -4px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
}
.filter-bluetooth label{
  position: relative;
  display: block;
  padding-left: 37px;
  padding-bottom: 23px;
  padding-top: 0;
  margin-top: -13px;
  letter-spacing: -0.02em;
}
.filter-bluetooth label::before{
  content: "";
  left: -2px;
  top: 3px;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 5px solid black;
  border-radius: 50%;
  background-image: none;
}
.bluetooth:checked+label::before{
  background-image: -webkit-radial-gradient(white, #000000 0%, #000000 40%, white 40%);
  background-image: -o-radial-gradient(white, #000000 0%, #000000 40%, white 40%);
  background-image: radial-gradient(white, #000000 0%, #000000 40%, white 40%);;
}
.filter-box fieldset {
  border: none;
  margin: 0;
}

.case-line button {
  cursor: pointer;
}

.filter-box legend {
  width: 100%;
  border-top: 2px solid #000000;
  padding-top: 10px;
  padding-bottom: 25px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.05em;
}

.filter-color input[type="checkbox"]:disabled + label{
  color: rgb(166, 166, 166);
}
.filter-color input[type="checkbox"]:disabled + label::before{
  opacity:0.25;
}

.filter-color input[type="checkbox"]:hover + label::before,
.filter-color input[type="checkbox"]:focus + label::before{
  opacity:0.6;
}
.filter-bluetooth input[type="radio"]:disabled + label::before{
  opacity:0.25;
}

.filter-bluetooth input[type="radio"]:hover + label::before,
.filter-bluetooth input[type="radio"]:focus + label::before{
  opacity:0.6;
}
.sort-list{
  padding: 0;
  margin: 0;
}
.sort-list a {
  font-size: 14px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  line-height: 18px;
  text-align: left;
}

.sort-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:focus {
  color: rgba(0, 0, 0, 1);
}

.sort-list a.filter-active{
  color: #000000;
}

.filter .link-button{
  margin-top: -24px;
  margin-left: 35px;
}
.filter .link-button::before{
  margin-left: -75%;
  width: 150%;}

.sort-list li{
  display: inline-block;
  vertical-align: top;
}
.sort-list>li:not(:first-child){
  margin-left: 24px;
}
.sort-up-down {
  margin-left: auto;
  font-size: 0;
}
.arrow{
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}
.arrow::before{
  content: "";
  border: 10px solid #000000;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  display: inline-block;
  vertical-align: middle;
}
.arrow-down::before{
  border-bottom-width: 0;
  border-top-color: rgba(0,0,0,0.2);
}
.arrow-up::before{
  border-top-width: 0;
  border-bottom-color: rgba(0,0,0,0.2);
}
.arrow-up:hover::before{
  border-bottom-color: rgba(0,0,0,0.4);
}
.arrow-up:focus::before{
  border-bottom-color: rgba(0,0,0,1);
}
.arrow-down:hover::before{
  border-top-color: rgba(0,0,0,0.4);
}
.arrow-down:focus::before {
  border-top-color: rgba(0,0,0,1);
}
.sort-up-down .arrow-active::before{
  border-bottom-color: rgb(0,0,0);
  border-top-color: rgb(0,0,0);
}
.catalog-items {
  width: 760px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
}
.catalog-item{
  position: relative;
  padding: 0;
  margin: 0;
  width: 360px;
  margin-top: 20px;
  margin-bottom: 3px;
  cursor: pointer;
}
.catalog-item:hover .item-buy-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-items h4 {
  width: 260px;
  margin-top: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.015em;
}
.description-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.description-wrap p{
  margin-top: -3px;
  letter-spacing: 0.04em;
}
.item-buy-wrap{
  position: absolute;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 360px;
  height: 380px;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255,255,255,0.3);
}

.item-buy-wrap .add-compare{
  margin-top: 20px;
}
.item-img{
  margin-bottom: 22px;
}
.item-img:hover,
.item-img:active {
  opacity: 0.7;
}

.add-compare {
  color: rgba(0, 0, 0, 0.5);
}

.add-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.add-compare:focus {
  color: rgba(0, 0, 0, 0.2);
}
.show-items{
  width: 830px;
  padding-left: 80px;
  padding-bottom: 76px;
}
.new-label::before{
  position: absolute;
  content: "NEW";
  top: 0;
  padding-top: 4px;
  right: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 55px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-right: 28px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  text-shadow: 0 0 2px  rgba(0,0,0,0.2);
}
.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  margin-top: 9px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.08);
}

.paginator a {
  padding: 0 30px;
  min-width: 70px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight:bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.paginator > a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.21em;
  padding: 0 27px 0 30px;
}
.paginator > a:hover {
  background-color: rgba(0,0,0,0.08);
}

.paginator > a:focus {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.padination-numbers-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}
.pagination-item:first-child{
  margin-left: 10px;
}
.padination-numbers-list a {
  color: rgba(0, 0, 0, 0.3);
  padding: 0 15px;
}

.padination-numbers-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.padination-numbers-list a:focus {
  color: rgba(0, 0, 0, 1);
}

.padination-numbers-list a.active {
  color: rgba(0, 0, 0, 1);
}

.modal-close{
  display:none;
}
.modal-show{
  display:block;
  -webkit-animation: left-to-right;
  animation: left-to-right;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-timing-function:ease-out;
  animation-timing-function:ease-out;
}
.errorInput{
  -webkit-animation: shake;
  animation: shake;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
}
.slider-block{
  display:block;
}
.slider-flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.slider-none{
  display:none;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes left-to-right {
  0% {
    -webkit-transform: translateX(-2000px)
    scale(0);
    transform: translateX(-2000px)
    scale(0);

  }

  80% {
    -webkit-transform: translateX(30px)
    scale(1);
    transform: translateX(30px)
    scale(1);
  }

  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@keyframes left-to-right {
  0% {
    -webkit-transform: translateX(-2000px)
    scale(0);
    transform: translateX(-2000px)
    scale(0);

  }

  80% {
    -webkit-transform: translateX(30px)
    scale(1);
    transform: translateX(30px)
    scale(1);
  }

  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

form.write-popup-feedback .errorInput{
  background-color:#f6dada;
}
